In [18]:
import sqlite3

In [19]:
estudantes = 'escolas.db'

# Criando Tabela

In [20]:
script_estudantes = """CREATE TABLE IF NOT EXISTS Alunos (
                id INTEGER PRIMARY KEY AUTOINCREMENT,
                nome TEXT NOT NULL,
                idade INTEGER NOT NULL,
                email TEXT NOT NULL
            );"""



try:
    with sqlite3.connect(estudantes) as conn:
         cur = conn.cursor()
         cur.execute(script_estudantes)
         conn.commit() 
         print("Tabelas Criadas com Sucesso")
except sqlite3.OperationalError as e:
    print("ERRO: ", e)

Tabelas Criadas com Sucesso

# Consultando as tabelas

In [21]:
sql = "SELECT * FROM Alunos"

try:
    with sqlite3.connect(estudantes) as conn:
        cur = conn.cursor()
        

    
        cur.execute(sql)
        res = cur.fetchall() 

        print(res)
except sqlite3.OperationalError as e:
    print("ERRO: ", e)

[]

# Consulta 2 - Neste exemplo o retorno é uma lista de dicionários

In [22]:
sql = "SELECT * FROM Alunos"


try:
    with sqlite3.connect(estudantes) as conn:
        conn.row_factory = sqlite3.Row 
        cur = conn.cursor()
        

        #
        cur.execute(sql)
        res = cur.fetchall() 
        
except sqlite3.OperationalError as e:
    print("ERRO: ", e)

# Inserindo dados

In [ ]:
sql = "INSERT INTO Alunos (nome, idade, email) VALUES (?,?,?)"

try:
    with sqlite3.connect(estudantes) as conn:
            
      
        cur = conn.cursor()

      
        cur.execute(sql, ('Gabriel', 15, 'gabrielviolante000@email.com'))


        conn.commit()
        


except sqlite3.OperationalError as e:
    print("ERRO: ", e)

# Atualizando um registro

In [24]:
sql = "UPDATE Alunos SET idade = ? WHERE id = ?"

try:
    with sqlite3.connect(estudantes) as conn:
            
        
        cur = conn.cursor()

    
        cur.execute(sql, (25, 2))

        
        conn.commit()


except sqlite3.OperationalError as e:
    print("ERRO: ", e)

# Deletando um registro

In [25]:
sql = "DELETE FROM Alunos WHERE id = ?"

try:
    with sqlite3.connect(estudantes) as conn:
            
        
        cur = conn.cursor()

        
        cur.execute(sql, (2,))

        
        conn.commit()
        


except sqlite3.OperationalError as e:
    print("ERRO: ", e)