In [ ]:
import sqlite3

In [ ]:
nome = 'alunos.db'

# Criando as tabelas

In [ ]:
script_alunos = """CREATE TABLE IF NOT EXISTS Alunos (
                id INTEGER PRIMARY KEY AUTOINCREMENT,
                nome TEXT NOT NULL,
                idade INTEGER NOT NULL,
                email TEXT NOT NULL
            );"""
            

try:
    with sqlite3.connect(nome) as conn:
        # Cria um cursor
        cur = conn.cursor()

        # Executa o script
        cur.execute(script_alunos)

        # Salva as alterações no banco de dados
        conn.commit()

        print("Tabelas Criadas com Sucesso")
except sqlite3.OperationalError as e:
    print("ERRO: ", e)

# Consultando as tabelas

In [ ]:
sql = "SELECT * FROM Alunos"


try:
    with sqlite3.connect(nome) as conn:
        # Cria um cursor
        cur = conn.cursor()
        

        # Executa o script
        cur.execute(sql)
        res = cur.fetchall() # retorna uma lista de listas

        print(res)
except sqlite3.OperationalError as e:
    print("ERRO: ", e)

# Consulta 2 - Neste exemplo o retorno é uma lista de dicionários

In [ ]:
sql = "SELECT * FROM Alunos"


try:
    with sqlite3.connect(nome) as conn:
        conn.row_factory = sqlite3.Row # Essa linha é opcional. Ela faz com que o resultado seja uma lista de dicionários
        # Cria um cursor
        cur = conn.cursor()
        

        # Executa o script
        cur.execute(sql)
        res = cur.fetchall() # retorna uma lista de dicionários

        
except sqlite3.OperationalError as e:
    print("ERRO: ", e)

In [ ]:
for i in res:
    print(i['nome'])

# Inserindo dados

In [ ]:
sql = "INSERT INTO Alunos (nome, idade, email) VALUES (?,?,?)"

try:
    with sqlite3.connect(nome) as conn:
            
        # Cria um cursor
        cur = conn.cursor()

        # Executa o script
        cur.execute(sql, ('Johnny', 30, 'Johnny@email.com'))

        # Salva as alterações no banco de dados
        conn.commit()
        


except sqlite3.OperationalError as e:
    print("ERRO: ", e)

# Atualizando um registro

In [ ]:
sql = "UPDATE Alunos SET idade = ? WHERE id = ?"

try:
    with sqlite3.connect(nome) as conn:
            
        # Cria um cursor
        cur = conn.cursor()

        # Executa o script
        cur.execute(sql, (25, 2))

        # Salva as alterações no banco de dados
        conn.commit()


except sqlite3.OperationalError as e:
    print("ERRO: ", e)

# Deletando um registro

In [ ]:
sql = "DELETE FROM Alunos WHERE id = ?"

try:
    with sqlite3.connect(nome) as conn:
            
        # Cria um cursor
        cur = conn.cursor()

        # Executa o script
        cur.execute(sql, (2,))

        # Salva as alterações no banco de dados
        conn.commit()
        


except sqlite3.OperationalError as e:
    print("ERRO: ", e)